html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    margin: 1rem;
}
h1 { font-size: 48px; }
header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #222;
    border-bottom: 0.25rem solid #F2A900;
    padding: 1rem;
}
header h1 { margin: 0; }
.center-text { text-align: center; }
.gold-text { color: #F2A900; }
.white-text { color: white; }
.purple-text { color: #330072; }
.mauve-text { color: #A05EB5; }
.red-text { color: #EE2737; }
.bold-text {font-weight: 400;}
.light-text {font-weight: lighter;}
.btn-primary {
    color: white;
    background-color: transparent;
    padding: 1rem;
    border: 2px solid #F2A900;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}
.btn-primary:hover {
    background-color: #A05EB5;
    color: white
}
.btn-secondary {
    border: none;
    width: 25%;
    color: #330072;
    background-color: white;
    height: 48px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}
.btn-secondary:hover {
    color: white;
    background-color: #F2A900;
    border-top: none;
}
.info-section {
    margin: 1rem 1rem 0rem 1rem;
    color: #330072;
    border-left: 1px solid lightgrey;
    border-bottom: 0.25rem solid #330072;
    border-right: 1px solid lightgrey;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}
.info-section div {
    background-color: #A05EB5;
    width: 100%;
    color: white;
}
.info-section div:first-of-type {
    background-color: #330072;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
}
.info-section p { padding: 0 1rem 0 1rem;}
.info-section iframe {
    width: 100%;
    height: 24rem;
}
.info-section div:last-of-type {
    height: 4rem;
    line-height: 4rem;
    text-align: center;
}
#landing-article {
    width: 100%;
    display: flex;
    flex-direction: column;
}
#text-collection { display: flex; }
#landing-location-collection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    font-weight: 300;
}
#landing-location-collection h3, h4 { margin: 0; }

/* Media Queries */
@media only screen and (max-width: 816px) {
    body {
        flex-direction: column;
        justify-content: flex-start;
    }
    header {
        flex-direction: column;
        justify-content: center;
    }
    #text-collection { flex-direction: column; }
    #landing-location-collection { margin-left: 0rem; }
    header h2 { border: none; }
    header button { margin-top: 1rem; }
    #landing-article {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .btn-secondary { width: 30%; }
    .info-section {
        margin: 1rem 0 0 0;
        width: 100%;
    }
}
